@import "./reset.scss";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.buttonOne {
  background-color: #333;
  color: #fff;
  outline: none;
  border: none;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  &.active {
    .bottom {
      max-height: 500px;
    }
  }
  .top {
    padding: 20px;
  }
  .bottom {
    max-height: 0;
    transition: 2s max-height linear;
    .content {
      border-top: 1px solid #fff;
      padding: 20px;
    }
  }
}

.buttonTwo {
  margin-top: 50px;
  background-color: #777;
  color: #fff;
  outline: none;
  border: none;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  .top {
    padding: 20px;
  }
  .bottom {
    .content {
      border-top: 1px solid #fff;
      padding: 20px;
    }
  }
}

.slide-enter-from,
.slide-leave-to {
  max-height: 0px;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s linear;
}

.slide-enter-to,
.slide-leave-from {
  max-height: 500px;
}
